<div class="d-flex flex-column conatiner-dialog">
    <h1>Revview Page</h1>
    <div
      class="d-flex flex-column contaier-detail justify-content-start p-2"
      
    >
      <h2>Personal Infomation</h2>
      <div class="d-flex flex-row flex-wrap">
        <div class="col-12 mt-1 col-lg-6  d-flex flex-row">
          <!-- <div class="col-4 p-0">{{ item.title }}</div>
          <div class="col-8 p-0 content">{{ item.value }}</div> -->
        </div>
      </div>
    </div>
  
    <!-- <div
      class="d-flex flex-column contaier-detail justify-content-start p-2 mt-4"
      *ngIf="perInfo?.length > 0"
    >
      <h2>Deposit Detail</h2>
      <div class="d-flex flex-row flex-wrap">
        <div class="col-12 mt-1 col-lg-6  d-flex flex-row" *ngFor="let item of depositDetail">
          <div class="col-4 p-0">{{ item.title }}</div>
          <div class="col-8 p-0 content">{{ item.value }}</div>
        </div>
      </div>
    </div> -->
  
    <!-- <div
      class="d-flex flex-column contaier-detail justify-content-start p-2 mt-4"
      *ngIf="perInfo?.length > 0"
    >
      <h2>Collection Account</h2>
      <div class="d-flex flex-row flex-wrap">
        <div class="col-12 mt-1 col-lg-6  d-flex flex-row" *ngFor="let item of collectionAccount">
          <div class="col-4 p-0">{{ item.title }}</div>
          <div class="col-8 p-0 content">{{ item.value }}</div>
        </div>
      </div>
    </div> -->
    <div
      class="d-flex flex-column contaier-detail justify-content-start p-2 mt-4 mb-5"
    >
      <h2>Wallet Information</h2>
  
      <!-- <app-table-mat
        [columns]="columns"
        [dataInput]="dataTable"
        [displayedColumns]="displayedColumns"
      ></app-table-mat> -->
    </div>
  
    <div
      class="d-flex flex-column contaier-detail justify-content-start p-2 mt-4 mb-5"
    >
      <h2>Attachment</h2>
      Image
    </div>
  
    <div
      class="d-flex flex-column contaier-detail justify-content-start p-2 mt-4 mb-5"
    >
      <h2>Remarks</h2>
      <mat-form-field
        appearance="outline"
        floatLabel="none"
        class="example-full-width"
      >
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  