table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  width: 50%;
}

.contaier-detail {
  border: 1px solid gray;
  border-radius: 15px;
}
.example-stretched-tabs {
  max-width: 100%;
}
.content {
  color: #8f8f8f;
}