<!-- ({{lottoKind}}) {{lottoClass}} -->
<h1 mat-dialog-title>{{id?"แก้ไข":"เพิ่ม"}}เลขอั้น {{lottoKindName}}</h1>
<div mat-dialog-content>
  <div class="d-flex flex-column  w-auto">
    <form [formGroup]='form'>
      <mat-form-field appearance="outline" class="w-100 p-1 col-lg-12 col-12" floatLabel="always">
        <mat-label>เลข</mat-label>
        <input matInput type="text" formControlName='number' [mask]="maskNumber">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 p-1 col-lg-12 col-12" floatLabel="always">
        <mat-label>ราคาอั้น</mat-label>
        <!-- <input matInput type='number' formControlName='price'> -->
        <mat-select formControlName='price'>
          <mat-option *ngFor="let dtl of dtlList" [value]="dtl.dtlCode">
            LEVEL {{dtl.tierLevel }} | {{ dtl.prize}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-center">
  <button-cancel class="mr-1" (click)="onNoClick()"></button-cancel>
  <button-save [disabled]="form.status=='VALID'?false:true" (click)="insertOne()"></button-save>
</div>