<div class="d-flex flex-column w-auto">
    <div class="d-flex" *ngIf="isDraft">
        <div class="d-flex flex-row w-100 d-flex justify-content-start">
            <button-cancel wording="Back" (click)="goBack()"></button-cancel>
        </div>
    </div>
    <br>
    <mat-card class="mb-1">
        <mat-card-title class="mb-1">
            <h2>LOTTO YEEKEE</h2>
        </mat-card-title>
        <div class="d-flex flex-lg-column flex-column">
            <form [formGroup]="formAddLotto">
                <div class="flex-lg-row">
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>Code</mat-label>
                        <input matInput formControlName="lottoClassCode" [readonly]="disable" required />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>Prefix Code</mat-label>
                        <input matInput required formControlName="prefixCode" [readonly]="disable" [readonly]="isDraft" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>Name</mat-label>
                        <input matInput formControlName="lottoClassName" required [readonly]="isDraft" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>Installment Type</mat-label>
                        <mat-select formControlName="typeInstallment" required [disabled]="true">
                            <mat-option value="24_HR">24 Hour</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex-column pt-2">
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>สามารถคืนได้หลังจากซื้อ(นาที)</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," formControlName="timeAfterBuy"
                            matInput required [readonly]="isDraft" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>สามารถคืนก่อนหวยปิด(นาที)</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," formControlName="timeBeforeLotto"
                            matInput required [readonly]="isDraft" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>จำนวนครั้งที่คืนโพยได้</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," f matInput required
                            formControlName="countRefund" [readonly]="isDraft" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-3">
                        <mat-label><span style="color: red">*</span>COLOR (e.g.,#254284)</mat-label>
                        <input formControlName="lottoClassColor" matInput required [readonly]="isDraft" />
                    </mat-form-field>
                </div>

                <div class="flex-column pt-2">
                    <span class="example-list-section col-lg-3">
                        <mat-checkbox class="example-margin" formControlName="autoUpdateWallet" [disabled]="isDraft">
                            อัพเดตเงินเข้ากระเป๋าอัตโนมัติเมื่อถูกรางวัล
                        </mat-checkbox>
                    </span>
                </div>
                <br>

                <div class="flex-column pt-2">
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>เวลาเริ่ม</mat-label>
                        <input type="text" mask="00:00" formControlName="startTime" matInput required
                            [readonly]="true" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>จำนวนรอบ</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," formControlName="countTime" matInput
                            required />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>จำนวนนาที</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," formControlName="roundTime" matInput
                            required />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>นาทีที่พัก</mat-label>
                        <input type="text" thousandSeparator="," formControlName="stopTime" matInput required
                            [readonly]="true" />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>จะได้รับเครดิตฟรีเมื่อ (บาท)</mat-label>
                        <input type="text" mask="separator.0"  thousandSeparator="," formControlName="hasBet" matInput required />
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline" class="col-lg-2">
                        <mat-label><span style="color: red">*</span>Earnings Percent (%)</mat-label>
                        <input type="text" mask="separator.0" thousandSeparator="," formControlName="earningsPercent" matInput required />
                    </mat-form-field>
                </div>

                <app-content *ngIf="countDetail" class="mt-3 mb-4" title="ตารางข้อมูลจับยี่กี" subtitle="Logging">
                    <app-table-mat [columns]="columns" [dataInput]="countDetail" [displayedColumns]="tr"
                        [displayPaginator]="false"></app-table-mat>
                </app-content>

                <div class="flex-column pt-2">
                    <div class="w-100 p-1 col-lg-3">
                        <label><span style="color: red">*</span>Image</label>
                        <br />
                        <input *ngIf="!isDraft" (change)="preview(file.files)" #file type="file" />
                        <p *ngIf="!isDraft">Image size limit : 1 MB</p>
                        <p *ngIf="!isDraft">Support formats : JPG, PNG, GIF, BMP</p>
                    </div>
                    <div class="w-100 p-1 col-lg-3 col-12" *ngIf="tmp">
                        <img [src]="tmp" height="150" width="150"
                            style="background-image: url('/assets/images/table_bg.jpg')" />
                    </div>
                </div>
            </form>

            <!-- <div floatLabel="always" appearance="outline" class="flex-lg-row">
                <label><span style="color: red">*</span>Rule Description</label>
                <text-editor [Ckdata]="formAddLotto.controls.ruleDes.value" [Ckreadonly]="isDraft"
                    (onEnter)="onChange($event)"></text-editor>
            </div> -->
        </div>

        <form [formGroup]="formAddLotto">
            <div class="d-flex flex-row flex-wrap pb-2">
                <div class="col-12 mt-1 col-lg-6  d-flex flex-row" *ngIf="isDraft">
                    <div class="col-4 p-0">Created By:</div>
                    <div class="col-8 p-0 content">{{dataDraftShow?.createdBy}}</div>
                </div>
                <div class="col-12 mt-1 col-lg-6  d-flex flex-row" *ngIf="isDraft">
                    <div class="col-5 p-0">Created At:</div>
                    <div class="col-7 p-0 content">{{dataDraftShow?.createdAt}}</div>
                </div>
                <mat-form-field floatLabel="always" appearance="outline" class="col-lg-12 mt-2">
                    <mat-label><span style="color: red">*</span>REMARK VERSION</mat-label>
                    <textarea matInput formControlName="remarkVersion" [readonly]="isDraft" required
                        rows="3"></textarea>
                </mat-form-field>
            </div>
        </form>

        <div class="d-flex flex-row justify-content-center mt-3">
            <button-cancel *ngIf="!isDraft" (click)="goBack()"></button-cancel>
            <button-save *ngIf="!isDraft" [disabled]="formAddLotto.status=='VALID'?false:true" (click)="onSave()"></button-save>
        </div>

        <div class="d-flex flex-row w-100 justify-content-end" *ngIf="isDraft">
            <ng-container>
                <div class="d-flex flex-row w-100 justify-content-center  mb-3">
                    <button mat-raised-button color="warn">REJECT</button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button mat-raised-button color="primary">APPROVE</button>
                </div>
            </ng-container>
        </div>
    </mat-card>
</div>