<div class="d-flex flex-column">
  <div class="d-flex">
    <div class="d-flex flex-row w-100 d-flex justify-content-start">
      <button-cancel wording="Back" (click)="goBack()"></button-cancel>
    </div>
  </div>
  <app-content class="mt-3" title="หวยรัฐบาล" subtitle="Logging">
    <app-table-mat
      [columns]="columns"
      [dataInput]="data"
      [displayedColumns]="tr"
      [actionSetting]="actionSetting"
      (detaileAction)="goDetail($event)"
    ></app-table-mat>
  </app-content>
</div>
