.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  // table {
//   width: 100%;
// }
.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  // width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}

td{
  color:black;
  font-family: "Kanit", sans-serif !important;

}
th{
  color: gray;
  font-family: "Kanit", sans-serif !important;
  font-weight: 400;
}

.link {
  color:#11b2ef;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    color:rgb(17, 178, 239,0.7)
  }
}
