<div class="d-flex flex-column">
  <app-content title="New Withdrawal">
    <div class="d-flex flex-column">
      <div class="flex-lg-row">
        <!-- <mat-checkbox class="example-margin" [(value)]="skipReviewCheck">Skip the review process and withdraw directly</mat-checkbox>   -->
      </div>
      <form [formGroup]='form'>
        <div class="flex-lg-row">
          <label class="col-lg-2 col-12"><span style="color: red;">*</span>Username</label>
          <mat-form-field appearance="outline" class="w-100 p-1 col-lg-6 col-12" floatLabel="always">
            <mat-label><span style="color: red;">*</span>Username</mat-label>
            <mat-select formControlName='username'>
              <mat-option *ngFor="let item of customerList" [value]="item.username">{{item.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.username.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex-lg-row">
          <label class="col-lg-2 col-12"><span style="color: red;">*</span>W/D Amt.</label>
          <mat-form-field appearance="outline" class="w-100 p-1 col-lg-6 col-12" floatLabel="always">
            <mat-label><span style="color: red;">*</span>W/D Amt.</mat-label>
            <input matInput type='number' [min]='0' formControlName='amount' />
            <mat-error *ngIf="form.controls.amount.hasError('required')">
              <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls.amount.hasError('outOfBalance')">
              <strong>Out of balance</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex-lg-row">
          <label class="col-lg-2 col-12"><span style="color: red;">*</span>Bank Account</label>
          <mat-form-field appearance="outline" class="w-100 p-1 col-lg-6 col-12" floatLabel="always">
            <mat-label><span style="color: red;">*</span>Bank Account</mat-label>
            <mat-select formControlName='company-account'>
              <mat-option *ngFor="let item of bankList" [value]="item">{{item.bankCode}}:{{item.displayName}}
                {{item.accountName}} {{item.bankAccount}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.companyAccount.hasError('required')">
              <strong>Required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex-lg-row">
          <label class="col-lg-2 col-12">Remarks</label>
          <mat-form-field appearance="outline" class="w-100 p-1 col-lg-6 col-12" floatLabel="always">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName='adminRemark'></textarea>
          </mat-form-field>
        </div>
        <div class="flex-lg-row"></div>
      </form>
    </div>
    <div class="d-flex flex-row justify-content-center mb-5">
      <button-cancel class="mr-2" (click)="goBack()"></button-cancel>
      <button-save (click)="onSave()"></button-save>
    </div>
  </app-content>
</div>